<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nobanryeo.petpal.user.ad.dao.FreeBoardMapper">

	<resultMap id="freeBoardResultSet" type="FreeBoardDTO">
		<id column="BOARD_CODE" property="boardCode"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="BOARD_VIEWS" property="boardViews"/>
		<result column="BOARD_POST_DATE" property="boardPostDate"/>
		<result column="BOARD_DELETE_YN" property="boardDeleteYn"/>
		<result column="USER_CODE" property="userCode"/>
		<result column="USER_NIKNAME" property="userNickName"/>
		<result column="CATEGORY" property="category"/>
	</resultMap>
	
	<resultMap id="boardReplyResultSet" type="FreeBoardReplyDTO">
		<id column="REPLY_CODE" property="replyCode"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="REPLY_DATE" property="replyDate"/>
		<result column="REPLY_DELETE_YN" property="replyDeleteYN"/>
		<result column="REPORT_YN" property="reportYN"/>
		<result column="BOARD_CODE" property="boardCode"/>
		<result column="USER_NIKNAME" property="userNickName"/>
		<result column="USER_CODE" property="userCode"/>
		<result column="USER_CODE1" property="userCode1"/>
		<result column="REPLY_REPORT_TITLE" property="replyReportTitle"/>
		<result column="REPLY_REPORT_CONTENT" property="replyReportContent"/>
		<result column="REPLY_REPORT_DATE" property="replyReportDate"/>
		<result column="DECISION_CODE" property="decisionCode"/>
	</resultMap>
	
	<resultMap id="messageResultSet" type="MessageTableDTO">
		<id column="MESSAGE_CODE" property="messageCode"/>
		<result column="MESSAGE_CONTENT" property="messageContent"/>
		<result column="MESSAGE_DATE" property="messageDate"/>
		<result column="USER_CODE1" property="userCode1"/>
		<result column="USER_CODE" property="userCode"/>
		<result column="SEND_NICKNAME" property="sendUserNick"/>
		<result column="RECEIVE_NICKNAME" property="receiveUserNick"/>
	</resultMap>
	
	<resultMap id="pictureResultSet" type="PictureDTO">
		<id column="PICTURE_CODE" property="pictureCode"/>
		<result column="PICTURE_NAME" property="pictureName"/>
		<result column="PICTURE_URL" property="pictureURL"/>
		<result column="PICTURE_UPLOAD_DATE" property="pictureUploadDate"/>
		<result column="PICTURE_DELETE_YN" property="pictureDeleteYN"/>
		<result column="PICTURE_NEW_NAME" property="pictureNewName"/>
		<result column="BOARD_CODE" property="boardCode"/>
		<result column="PICTURE_UTIL_PATH" property="pictureUtilPath"/>
		<result column="USER_CODE" property="userCode"/>
	</resultMap>

	
	
	<select id="selectFreeBoardCount" resultType="int">
        SELECT COUNT(*)
          FROM FREE_BOARD A
         WHERE BOARD_DELETE_YN = 'N'
	</select>
	
	<select id="selectFreeBoardList" parameterType="FreeBoardDTO" resultMap="freeBoardResultSet">
        SELECT * 
		  FROM (
			     SELECT ROWNUM RN, C.* 
			       FROM (
		                 SELECT
		                        A.BOARD_TITLE
		                      , A.BOARD_VIEWS
		                      , A.BOARD_POST_DATE
		                      , B.USER_NIKNAME
		                      , A.CATEGORY
		                      , A.BOARD_CODE
		                   FROM FREE_BOARD A
		                   JOIN USER_TABLE B ON (B.USER_CODE = A.USER_CODE)
		                  WHERE BOARD_DELETE_YN = 'N'
		                  ORDER BY A.BOARD_CODE DESC
                        ) C
               )
	     WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<update id="updateFreeBoardViews" parameterType="FreeBoardDTO">
		UPDATE FREE_BOARD
		   SET BOARD_VIEWS = BOARD_VIEWS + 1
		 WHERE BOARD_CODE = #{ boardCode }
	</update>
	
	<select id="selectFreeBoardDetail" parameterType="FreeBoardDTO" resultMap="freeBoardResultSet">
        SELECT
               A.BOARD_TITLE
             , A.BOARD_VIEWS
             , A.BOARD_POST_DATE
             , B.USER_NIKNAME
             , A.BOARD_CONTENT
             , A.BOARD_CODE
             , A.USER_CODE
             , B.USER_NIKNAME
             , A.CATEGORY
          FROM FREE_BOARD A
          JOIN USER_TABLE B ON (B.USER_CODE = A.USER_CODE)
         WHERE A.BOARD_DELETE_YN = 'N'
           AND A.BOARD_CODE = #{ boardCode }
	</select>
	
	<select id="selectFreeBoardImg" parameterType="PictureDTO" resultMap="pictureResultSet">
        SELECT A.PICTURE_UTIL_PATH
          FROM PICTURE_TABLE A
          JOIN FREE_PICTURE_MANAGE B ON(B.PICTURE_CODE = A.PICTURE_CODE)
         WHERE B.BOARD_CODE = #{ boardCode }    
	</select>
	
	<select id="selectFreeBoardReply" resultMap="boardReplyResultSet" parameterType="FreeBoardReplyDTO">
        SELECT
               D.USER_NIKNAME
             , A.REPLY_CONTENT
             , A.REPLY_DATE
             , A.REPLY_DELETE_YN
             , B.BOARD_CODE
             , A.REPLY_CODE
             , D.USER_CODE
             , A.REPORT_YN
          FROM REPLY_MANAGE A
          JOIN FREE_BOARD_REPLY B ON(B.REPLY_CODE = A.REPLY_CODE)
          JOIN FREE_BOARD C ON(C.BOARD_CODE = B.BOARD_CODE)
          JOIN USER_TABLE D ON(D.USER_CODE = B.USER_CODE)
         WHERE B.BOARD_CODE = #{ boardCode }
         ORDER BY A.REPLY_CODE DESC
	</select>
	
	<insert id="insertFreeBoardReply" parameterType="FreeBoardReplyDTO">
		INSERT ALL
		  INTO REPLY_MANAGE
		VALUES ( REPLY_CODE_SEQ.CURRVAL
		       , #{ replyContent }
		       , SYSDATE
		       , 'N'
		       , 'N'
		       , #{ userCode }
		       )
		  INTO FREE_BOARD_REPLY
		VALUES ( #{ boardCode }
		       , REPLY_CODE_SEQ.NEXTVAL
		       , #{ userCode }
		       )
        SELECT *
          FROM DUAL
	</insert>

	<insert id="insertFreeBoardMessage" parameterType="MessageTableDTO">
		<selectKey keyProperty="sendUserNick" order="BEFORE" resultType="string">
			SELECT
			       USER_NIKNAME
			  FROM USER_TABLE
			 WHERE USER_CODE = #{ userCode }
		</selectKey>
		INSERT
		  INTO MESSAGE_TABLE
		VALUES ( MESSAGE_CODE_SEQ.NEXTVAL
		       , #{ messageContent }
		       , SYSDATE
		       , #{ userCode1 }
		       , #{ userCode }
		       , #{ sendUserNick }
		       , #{ receiveUserNick }
		       )
	</insert>
	
	<insert id="insertFreeBoardReport" parameterType="FreeBoardReportDTO">
		<selectKey keyProperty="reportTitle" order="BEFORE" resultType="string">
			SELECT
			       BOARD_TITLE
			  FROM FREE_BOARD
			 WHERE BOARD_CODE = #{ boardCode }
		</selectKey>
			INSERT ALL
			  INTO REPORT_MANAGE
			VALUES ( REPORT_MANAGE_SEQ.NEXTVAL
			       , #{ reportTitle }
			       , #{ reportContent }
			       , SYSDATE
			       , NULL
			       , #{ userCode }
			       )
			  INTO FREE_BOARD_REPORT
		    VALUES ( #{ boardCode }
		           , REPORT_MANAGE_SEQ.CURRVAL
		           )
            SELECT *
              FROM DUAL
	</insert>
	
	<insert id="insertFreeBoardReplyReport" parameterType="FreeBoardReplyDTO">
		<selectKey keyProperty="replyReportTitle" order="BEFORE" resultType="string">
			SELECT
			       REPLY_CONTENT
			  FROM REPLY_MANAGE
			 WHERE REPLY_CODE = #{ replyCode }
		</selectKey>
			INSERT 
			  INTO REPLY_REPORT_TABLE
			VALUES ( #{ userCode1 }
			       , #{ replyCode }
			       , #{ userCode }
			       , #{ replyReportTitle }
			       , #{ replyReportContent }
			       , SYSDATE
			       , null
			       )
	</insert>
	
	<select id="writeFreeBoard" parameterType="FreeBoardDTO" resultMap="freeBoardResultSet">
		SELECT USER_NIKNAME
		  FROM USER_TABLE
		 WHERE USER_CODE = #{ userCode }
	</select>
	
	<insert id="insertWriteFreeBoard" parameterType="FreeBoardDTO">
		INSERT
		  INTO FREE_BOARD
		VALUES ( FREE_BOARD_SEQ.NEXTVAL
		       , #{ boardTitle }
		       , #{ boardContent }
		       , 0
		       , SYSDATE
		       , 'N'
		       , #{ userCode }
		       , #{ category }
		       )
	</insert>
	
	<select id="selectBoardCode" resultType="_int">
		SELECT FREE_BOARD_SEQ.CURRVAL
	  	  FROM DUAL
	</select>
	
	<insert id="insertFreeBoardImg" parameterType="PictureDTO">
		INSERT
		  INTO PICTURE_TABLE
		VALUES ( PIC_CODE_SEQ.NEXTVAL
		       , #{ pictureName }
			   , #{ pictureURL }
               , SYSDATE
               , 'N'
               , #{ pictureNewName }
               , #{ pictureUtilPath }
		       )
	</insert>
	
	<insert id="insertFreeBoardImg2" parameterType="PictureDTO">
		<selectKey keyProperty="pictureCode" order="BEFORE" resultType="int">
	  		SELECT PIC_CODE_SEQ.CURRVAL
	  	  	  FROM DUAL
	  	</selectKey>
		INSERT
		  INTO FREE_PICTURE_MANAGE
		VALUES ( #{ boardCode }
		       , #{ pictureCode }
		       )
	</insert>
	
	<update id="updateModifyFreeBoare" parameterType="FreeBoardDTO">
		UPDATE FREE_BOARD
		   SET BOARD_TITLE = #{ boardTitle }
		     , BOARD_CONTENT = #{ boardContent }
		     , CATEGORY = #{ category }
		 WHERE BOARD_CODE = #{ boardCode }
	</update>
	
</mapper>