<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
  <mapper namespace="com.nobanryeo.petpal.user.adopt.dao.AdoptMapper">
  	<resultMap type="AdoptPictureManageDTO" id="AdoptResultSet">
  		<result column="BOARD_CODE" property="boardCode"/>
  		<result column="ADOPT_BREED" property="adoptBreed"/>
  		<result column="ADOPT_GENDER" property="adoptGender"/>
  		<result column="ADOPT_DELETE_YN" property="deleteYN"/>
  		<result column="ADOPT_COLOR" property="adoptColor"/>
  		<result column="STATE_NAME" property="stateName"/>
  		<result column="USER_LOCATION" property="userAddress"/>
  		<result column="USER_NIKNAME" property="userNickname"/>
  		<result column="BOARD_DATE" property="boardDate"/>
  		<result column="DOG_OR_CAT" property="dogOrcat"/>
  		<result column="USER_CODE" property="userCode"/>
  		<result column="PICTURE_CODE" property="pictureCode"/>
  		<result column="PICTURE_URL" property="pictureURL"/>
  		<result column="PICTURE_DELETE_YN" property="pictureDeleteYN"/>
  		<result column="PICTURE_NAME" property="pictureName"/>
  		<result column="PICTURE_NEW_NAME" property="pictureNewName"/>
  		<result column="PICTURE_UTIL_PATH" property="pictureUtilPath"/>
  	</resultMap>
  	
  
  	
  	<resultMap type="AdoptDTO" id="AdoptInsertResultset">
  		<id column="BOARD_CODE" property="boardCode"/>
  		<result column="ADOPT_BREED" property="adoptBreed"/>
  		<result column="ADOPT_GENDER" property="adoptGender"/>
  		<result column="ADOPT_AGE" property="adoptAge"/>
  		<result column="ADOPT_WEIGTH" property="adoptWeight"/>
  		<result column="ADOPT_COLOR" property="adoptColor"/>
  		<result column="ADOPT_INTRODUCE" property="adoptIntroduce"/>
  		<result column="ADOPT_PHONE" property="adoptPhone"/>
  		<result column="ADOPT_CAUTION" property="adoptCaution"/>
  		<result column="USER_NIKNAME" property="userNickname"/>
  		<result column="ADOPT_DELETE_YN" property="deleteYN"/>
  		<result column="STATE_CODE" property="stateCode"/>
  		<result column="BOARD_DATE" property="boardDate"/>
  		<result column="USER_CODE" property="userCode"/>
  		<result column="DOG_OR_CAT" property="dogOrcat"/>
  		<result column="USER_LOCATION" property="address"/>
  	</resultMap>
  	
  	<resultMap type="PictureDTO" id="pictureInsertResultset">
  		<id column="PICTURE_CODE" property="pictureCode"/>
  		<result column="PICTURE_NAME" property="pictureName"/>
  		<result column="PICTURE_URL" property="pictureURL"/>
  		<result column="PICTURE_UPLOAD_DATE" property="pictureUploadDate"/>
  		<result column="PICTURE_DELETE_YN" property="pictureDeleteYN"/>
  		<result column="PICTURE_NEW_NAME" property="pictureNewName"/>
  		<result column="PICTURE_UTIL_PATH" property="pictureUtilPath"/>
  	</resultMap>

	<resultMap type="AdoptReplyDTO" id="replyResultset">
		<result column="REPLY_CODE" property="replyCode"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="REPLY_DATE" property="replyDate"/>
		<result column="REPLY_DELETE_YN" property="replyDeleteYN"/>
		<result column="REPORT_YN" property="reportYN"/>
		<result column="USER_NIKNAME" property="userNickname"/>
		<result column="replyUser" property="replyUserCode"/>
		<result column="boardUser" property="boardUserCode"/>
		<result column="BOARD_CODE" property="boardCode"/>
		<result column="REPLY_REPORT_TITLE" property="replyReportTitle"/>
		<result column="REPLY_REPORT_CONTENT" property="replyReportContent"/>
		<result column="REPLY_REPORT_DATE" property="replyReportDate"/>
		<result column="DECISION_CODE" property="decisionCode"/>
	</resultMap>
	
	<resultMap id="reportResultSet" type="FreeBoardReportDTO">
		<id column="REPORT_CODE" property="reportCode"/>
		<result column="REPORT_TITLE" property="reportTitle"/>
		<result column="REPORT_CONTENT" property="reportContent"/>
		<result column="REPORT_DATE" property="reportDate"/>
		<result column="DECISION_CODE" property="decisionCode"/>
		<result column="USER_CODE" property="userCode"/>
		<result column="BOARD_CODE" property="boardCode"/>
	</resultMap>
	
	<resultMap id="messageResultSet" type="MessageTableDTO">
		<id column="MESSAGE_CODE" property="messageCode"/>
		<result column="MESSAGE_CONTENT" property="messageContent"/>
		<result column="MESSAGE_DATE" property="messageDate"/>
		<result column="USER_CODE1" property="userCode1"/>
		<result column="USER_CODE" property="userCode"/>
		<result column="SEND_NICKNAME" property="sendUserNick"/>
		<result column="RECEIVE_NICKNAME" property="receiveUserNick"/>
	</resultMap>
	
  	<select id="selectAdoptList" parameterType="AdoptPictureManageDTO" resultMap="AdoptResultSet">
  		SELECT
		       A.BOARD_CODE
		     , A.ADOPT_BREED
		     , A.ADOPT_GENDER
		     , S.STATE_NAME
		     , A.ADOPT_DELETE_YN
		     , A.USER_LOCATION
		     , A.ADOPT_COLOR
		     , A.USER_CODE
		     , U.USER_NIKNAME
		     , A.DOG_OR_CAT
		     , A.BOARD_DATE
		     , P.PICTURE_DELETE_YN
		     , P.PICTURE_CODE
		     , P.PICTURE_URL
		     , P.PICTURE_NAME
		     , P.PICTURE_NEW_NAME
		     , P.PICTURE_UTIL_PATH
		  FROM ADOPT_BOARD A
          JOIN STATE_TABLE S ON(S.STATE_CODE = A.STATE_CODE)
		  JOIN ADOPT_PICTURE_MANAGE M ON (A.BOARD_CODE = M.BOARD_CODE)
		  JOIN PICTURE_TABLE P ON (M.PICTURE_CODE = P.PICTURE_CODE)
		  JOIN USER_TABLE U ON(U.USER_CODE = A.USER_CODE)
		 WHERE P.PICTURE_DELETE_YN='N'
		   AND A.ADOPT_DELETE_YN='N'
		 ORDER BY A.BOARD_DATE DESC
  	</select>
  	
  	<insert id="registerAdopt" parameterType="AdoptDTO">
  		INSERT 
  		  INTO ADOPT_BOARD
	  	VALUES
	  	 (
	  	   ADOPT_BOARD_SEQ.NEXTVAL
	  	 , #{adoptBreed}
	  	 , #{adoptGender}
	  	 , #{adoptAge}
	  	 , #{adoptWeight}
	  	 , #{adoptColor}
	  	 , #{adoptIntroduce}
	  	 , #{adoptPhone}
	  	 , #{adoptCaution}
	  	 , 'N'
	  	 , 1
	  	 , SYSDATE
	  	 , #{userCode}
	  	 , #{dogOrcat}
	  	 , #{address}
	  	 )
	  	 
	  </insert>
	  
	  <insert id="registPicture" parameterType="PictureDTO">
	   INSERT 
	  	 INTO PICTURE_TABLE
	  	VALUES
	  	(
	  	  PIC_CODE_SEQ.NEXTVAL
	  	, #{pictureName}
	  	, #{pictureURL}
	  	, SYSDATE
	  	, 'N'
	  	, #{pictureNewName}
	  	, #{pictureUtilPath}
	  	)
  	</insert>
  	
  	<select id="selectBoardCode" resultType="_int">
  		SELECT
  		       ADOPT_BOARD_SEQ.CURRVAL
  		  FROM DUAL
  	</select>
  	
  	<insert id="registSubTable" parameterType="PictureDTO">
	  <selectKey keyProperty="pictureCode" order="BEFORE" resultType="int">
	  	SELECT
	  	      PIC_CODE_SEQ.CURRVAL
	  	  FROM DUAL
	  </selectKey>
	  	
	  INSERT
	  	INTO ADOPT_PICTURE_MANAGE
	  	(
	  	  BOARD_CODE
	  	, PICTURE_CODE
	  	)
	  	VALUES
	  	(
	  	#{boardCode}
	   ,#{pictureCode}
	  	)
	  	</insert>
	  	
	  <select id="selectAdoptDetail" parameterType="_int" resultMap="AdoptInsertResultset">
	  	SELECT
		      A.BOARD_CODE
			, A.ADOPT_BREED
			, A.ADOPT_GENDER
			, A.ADOPT_AGE
			, A.ADOPT_WEIGTH
			, A.ADOPT_COLOR
			, A.ADOPT_INTRODUCE
			, A.ADOPT_PHONE
			, A.ADOPT_CAUTION
			, A.ADOPT_DELETE_YN
			, A.STATE_CODE
			, A.BOARD_DATE
			, A.USER_CODE
			, A.DOG_OR_CAT
			, A.USER_LOCATION
			, U.USER_NIKNAME
		FROM ADOPT_BOARD A
		JOIN USER_TABLE U ON (U.USER_CODE = A.USER_CODE)
	   WHERE A.ADOPT_DELETE_YN = 'N'
	     AND A.BOARD_CODE = #{boardCode}
	  	
	  </select>
	  
	  <select id="selectPictureList" parameterType="_int" resultMap="pictureInsertResultset">
	  	 SELECT 
               P.PICTURE_CODE
              ,P.PICTURE_UTIL_PATH
           FROM PICTURE_TABLE P
           JOIN ADOPT_PICTURE_MANAGE M ON (P.PICTURE_CODE = M.PICTURE_CODE)
           JOIN ADOPT_BOARD A ON (A.BOARD_CODE = M.BOARD_CODE)
          WHERE A.BOARD_CODE = #{boardCode}
            AND P.PICTURE_DELETE_YN = 'N'
	  </select>
	  
	  <select id="selectReplyList" parameterType="_int" resultMap="replyResultset">
	  	SELECT 
		      R.REPLY_CODE
		    , R.REPLY_CONTENT
		    , R.REPLY_DATE
		    , R.REPLY_DELETE_YN
		    , R.REPORT_YN
		    , R.USER_CODE as replyUser
		    , U.USER_NIKNAME
		    , A.BOARD_CODE
		    , A.USER_CODE as boardUser
		  FROM REPLY_MANAGE R
		  JOIN ADOPT_BOARD_REPLY AB ON(R.REPLY_CODE = AB.REPLY_CODE)
		  JOIN ADOPT_BOARD A ON (A.BOARD_CODE =  AB.BOARD_CODE)
		  JOIN USER_TABLE U ON (U.USER_CODE = R.USER_CODE)
		 WHERE A.BOARD_CODE = #{boardCode}
		 ORDER BY R.REPLY_DATE DESC
	  </select>
	  
	  <insert id="insertReply" parameterType="AdoptReplyDTO">
	  	INSERT
	  	  INTO REPLY_MANAGE 
	  	VALUES
	  	(
	  		REPLY_CODE_SEQ.NEXTVAL
		  , #{replyContent}
          , SYSDATE
          , 'N'
          , 'N'
          , #{replyUserCode}
	  	)
	  </insert>
	  
	  <insert id="insertReplyBoard" parameterType="AdoptReplyDTO">
		  <selectKey keyProperty="replyCode" order="BEFORE" resultType="int">
		  	SELECT
		  	      REPLY_CODE_SEQ.CURRVAL
		  	  FROM DUAL
		  </selectKey>
		  INSERT
		    INTO ADOPT_BOARD_REPLY
		  VALUES
		  (
		    #{boardCode}
		  , #{replyCode}
		  , #{replyUserCode}
		  )
	  </insert>
	  
	  <insert id="insertBoardReport" parameterType="FreeBoardReportDTO">
	  	INSERT
	  	  INTO REPORT_MANAGE
	  	VALUES
	  	(
	  	 REPORT_MANAGE_SEQ.NEXTVAL
	   , #{reportTitle}
	   , #{reportContent}
	   , SYSDATE
	   , DEFAULT
	   , #{userCode}
	  	)
	  
	  </insert>
	  <insert id="insertBoardReportMid" parameterType="FreeBoardReportDTO">
	  	<selectKey keyProperty="reportCode" order="BEFORE" resultType="int">
	  		SELECT
		  	      REPORT_MANAGE_SEQ.CURRVAL
		  	  FROM DUAL
	  	</selectKey>
	  	INSERT
	  	  INTO ADOPT_BOARD_REPORT
	  	VALUES
	  	(
	  	 #{boardCode}
	   , #{reportCode}
	  	)
	  </insert>
	  <insert id="insertReplyReport" parameterType="AdoptReplyDTO">
	    <selectKey keyProperty="replyReportTitle" order="BEFORE" resultType="String">
	    	SELECT
	    	       REPLY_CONTENT
	    	  FROM REPLY_MANAGE
	    	 WHERE REPLY_CODE = #{replyCode}
	    </selectKey>
	  	INSERT
	  	  INTO REPLY_REPORT_TABLE
	  	VALUES
	  	 (
	  	  #{boardUserCode}
	  	, #{replyCode}
	  	, #{replyUserCode}
	  	, #{replyReportTitle}
	  	, #{replyReportContent}
	  	, SYSDATE
	  	, DEFAULT
	  	 )
	  </insert>
	  
	  <insert id="insertMessage" parameterType="MessageTableDTO">
	  	INSERT
	  	  INTO MESSAGE_TABLE
	  	VALUES
	  	(
		  MESSAGE_CODE_SEQ.NEXTVAL
		, #{messageContent}
		, SYSDATE
		, #{userCode1}
		, #{userCode}
		, #{sendUserNick}
		, #{receiveUserNick}
	  	)
	  	  
	  </insert>
	  
	  <select id="selectSearchAdoptList" parameterType="String" resultMap="AdoptResultSet">
	  		
	  		SELECT
		       A.BOARD_CODE
		     , A.ADOPT_BREED
		     , A.ADOPT_GENDER
		     , S.STATE_NAME
		     , A.ADOPT_DELETE_YN
		     , A.USER_LOCATION
		     , A.ADOPT_COLOR
		     , A.USER_CODE
		     , U.USER_NIKNAME
		     , A.DOG_OR_CAT
		     , A.BOARD_DATE
		     , P.PICTURE_DELETE_YN
		     , P.PICTURE_CODE
		     , P.PICTURE_URL
		     , P.PICTURE_NAME
		     , P.PICTURE_NEW_NAME
		     , P.PICTURE_UTIL_PATH
		  FROM ADOPT_BOARD A
          JOIN STATE_TABLE S ON(S.STATE_CODE = A.STATE_CODE)
		  JOIN ADOPT_PICTURE_MANAGE M ON (A.BOARD_CODE = M.BOARD_CODE)
		  JOIN PICTURE_TABLE P ON (M.PICTURE_CODE = P.PICTURE_CODE)
		  JOIN USER_TABLE U ON(U.USER_CODE = A.USER_CODE)
		 WHERE P.PICTURE_DELETE_YN='N'
		   AND A.ADOPT_DELETE_YN='N'
		   AND A.USER_LOCATION LIKE '%' ||#{keyword}|| '%'
		 ORDER BY A.BOARD_DATE DESC
	  
	  </select>
	  
	  <update id="putAdoptStatus" parameterType="int" >
	      UPDATE ADOPT_BOARD
	         SET
	       STATE_CODE = 2
	       WHERE BOARD_CODE = #{boardCode}
	  </update>
	  <select id="selectPicture" parameterType="PictureDTO" resultMap="pictureInsertResultset">
	        SELECT 
			       PICTURE_CODE
			  FROM ADOPT_PICTURE_MANAGE
			 WHERE BOARD_CODE = #{boardCode}
	  </select>
	  
	   <update id="deletePicture" parameterType="PictureDTO">
		  	
	  		UPDATE PICTURE_TABLE P
   			   SET P.PICTURE_DELETE_YN = 'Y'
   			 WHERE P.PICTURE_CODE = #{pictureCode}
   			 
	  </update>
	  
	  <update id="updateAdopt" parameterType="AdoptDTO">
	       UPDATE ADOPT_BOARD M
	          SET 
		          M.ADOPT_BREED = #{adoptBreed}
	            , M.ADOPT_GENDER = #{adoptGender}
				, M.ADOPT_AGE = #{adoptAge}
				, M.ADOPT_COLOR = #{adoptColor}
				, M.ADOPT_WEIGTH = #{adoptWeight}
				, M.ADOPT_INTRODUCE = #{adoptIntroduce}
				, M.ADOPT_PHONE = #{adoptPhone}
				, M.ADOPT_CAUTION = #{adoptCaution}
				, M.DOG_OR_CAT = #{dogOrcat}
				, M.USER_LOCATION = #{address}
		   WHERE M.BOARD_CODE = #{boardCode}
	  </update>
	  
  </mapper>