<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nobanryeo.petpal.user.mypage.dao.MessageMapper">

	<resultMap id="messageResultSet" type="MessageTableDTO">
		<id column="MESSAGE_CODE" property="messageCode" />
		<result column="MESSAGE_CONTENT" property="messageContent" />
		<result column="MESSAGE_DATE" property="messageDate" />
		<result column="USER_CODE1" property="userCode1" />
		<result column="USER_CODE" property="userCode" />
		<result column="SEND_NICKNAME" property="sendUserNick" />
		<result column="RECEIVE_NICKNAME" property="receiveUserNick" />
	</resultMap>

	<!-- 총 쪽지 수 출력 -->
	<select id="selectMessageCount" resultType="int" parameterType="hashmap">
	     SELECT   
	             COUNT(*)
	      FROM(
	      SELECT
	             <if test='type.equals("A")'>
	             ROW_NUMBER() OVER(PARTITION BY USER_CODE ORDER BY MESSAGE_DATE DESC ) AS RNUM
	             </if>
	             <if test='type.equals("B")'>
	             ROW_NUMBER() OVER(PARTITION BY USER_CODE1 ORDER BY MESSAGE_DATE DESC ) AS RNUM
	             </if>
	           , MESSAGE_CODE
	           , MESSAGE_CONTENT   
	           , SEND_NICKNAME
	           , RECEIVE_NICKNAME
	           , USER_CODE1
	           , USER_CODE
	      FROM MESSAGE_TABLE
	      WHERE USER_CODE = #{ code }) A
	      WHERE RNUM = 1
	</select> 
	
	<!-- 페이징 처리 후 쪽지 조회 -->
	<select id="selectMessage" resultMap="messageResultSet" parameterType="hashmap">
	    SELECT * 
		  FROM (SELECT ROWNUM RN, B.* 
		          FROM (SELECT   A.MESSAGE_CODE
                               , A.MESSAGE_CONTENT
                               , A.SEND_NICKNAME
                               , A.RECEIVE_NICKNAME
                               , A.USER_CODE1
                               , A.USER_CODE
                               , MESSAGE_DATE
                        FROM( 
                              SELECT 
                                       <if test='type.equals("A")'>
                                       ROW_NUMBER() OVER(PARTITION BY USER_CODE ORDER BY MESSAGE_DATE DESC ) AS RNUM
                                       </if>
                                       <if test='type.equals("B")'>
                                       ROW_NUMBER() OVER(PARTITION BY USER_CODE1 ORDER BY MESSAGE_DATE DESC ) AS RNUM
                                       </if>
                                     , MESSAGE_CODE
                                     , MESSAGE_DATE
                                     , MESSAGE_CONTENT   
                                     , SEND_NICKNAME
                                     , RECEIVE_NICKNAME
                                     , USER_CODE1
                                     , USER_CODE
                                 FROM MESSAGE_TABLE
                                 <if test='type.equals("A")'>
                                 WHERE USER_CODE1 = #{ msgDTO.userCode1 }
                                 ORDER BY MESSAGE_DATE DESC)A
                                 </if>
                                 <if test='type.equals("B")'>
                                 WHERE USER_CODE = #{ msgDTO.userCode1 }
                                 ORDER BY MESSAGE_DATE DESC)A
                                 </if>
                                 WHERE RNUM = 1) B)
                        WHERE RN BETWEEN #{ pageInfo.start } AND #{ pageInfo.end }
	</select>
	
	<!-- 총 상세 쪽지 수 출력 -->
	<select id="selectMessageDtailCount" resultType="int" parameterType="int">
	    SELECT COUNT(*)
	      FROM MESSAGE_TABLE
	     WHERE (USER_CODE1 = #{ userCode1 } AND USER_CODE = #{ userCode })
            OR (USER_CODE1 = #{ userCode } AND USER_CODE = #{ userCode1 })
	</select> 
	
	<!-- 상세 쪽지 내역 조회 -->
	<select id="selectDetailMessage" resultMap="messageResultSet" parameterType="hashmap">
        SELECT * 
		  FROM (SELECT ROWNUM RN, A.* 
		          FROM (SELECT 
                                MESSAGE_CODE
                              , MESSAGE_CONTENT
                              , MESSAGE_DATE
                              , USER_CODE1
                              , USER_CODE
                              , SEND_NICKNAME
                              , RECEIVE_NICKNAME
                  FROM MESSAGE_TABLE
                 WHERE (USER_CODE1 = #{ msgDTO.userCode1 } AND USER_CODE = #{ msgDTO.userCode })
                    OR (USER_CODE1 = #{ msgDTO.userCode } AND USER_CODE = #{ msgDTO.userCode1 })
              ORDER BY MESSAGE_DATE DESC) A)
			WHERE RN BETWEEN #{ pageInfo.start } AND #{ pageInfo.end }
		      ORDER BY MESSAGE_DATE DESC
	</select>
	
	<select id="selectSendUser" parameterType="int" resultType="string">
		SELECT
			       USER_NIKNAME
			  FROM USER_TABLE
			 WHERE USER_CODE = #{ userCode }
	</select>
	
	<select id="selectreceiveUser" parameterType="int" resultType="string">
		SELECT
			       USER_NIKNAME
			  FROM USER_TABLE
			 WHERE USER_CODE = #{ userCode1 }
	</select>
	
	<!-- 쪽지보내기 -->
	<insert id="insertMessageFromMypage" parameterType="MessageTableDTO">
		INSERT
		  INTO MESSAGE_TABLE
		VALUES (
				 MESSAGE_CODE_SEQ.NEXTVAL
		       , #{ messageContent }
		       , SYSDATE
		       , #{ userCode1 }
		       , #{ userCode }
		       , #{ sendUserNick }
		       , #{ receiveUserNick }
		       )
	</insert>
	
 </mapper>

 
 
 
 
 
 
 
 
 